@charset "UTF-8";

div#tv-radio {
    background: url("../_imagens/radio-tv.png") no-repeat;
    width: 900px;
    height: 580px;
    margin: auto;    
}
audio#musica {
    width: 300px;
    top: 488px;
    left: 573px ;
    position: relative;
    display: block;
}
video#filme {
    width: 450px;
    top: 63px;
    left: 82px ;
    position: relative;
    display: block;    
}